<div class="grid-item" 
    (click)="clicked=true" 
    [ngStyle]="{'background':'url(' + getBackground() + ')','background-attachment':'fixed','height':'200px','width':'320px'}" >
<div class="editIcon" 
    (click)="clicked=true; fetchedData=false">
<span class="glyphicon glyphicon-edit"></span>
</div>
<input placeholder="Enter City Name" class="input" #box 
    *ngIf="clicked && !fetchedData"
    (keyup.enter)="weatherData($event)" required>
    <p *ngIf="fetchedData">
    {{result.name}}<br>
    {{(result.main.temp - 273.15).toFixed(2)}}°C<br>
    Condition : {{result.weather[0].main}}<br>
    </p>
    <div *ngIf="!fetchedData && error">
        <div id="error-msg">Error:{{error.error.message}}</div>
    </div>
</div>
